
.user-hover-card .user-info-card-header span.jsx-1369737386:not(.user-info-card-full-name)::after {
    content: 'message';
    margin-left: 5px;
    background-color: #21953e;
    border: 1px solid transparent;
    color: white;
    padding: 2px;
    transition: color 0.5s;
    cursor: default;
    border-radius: 3px;
    font-size: 14px;
    transition: all 0.3s;
}
.user-hover-card .user-info-card-header span.jsx-1369737386:not(.user-info-card-full-name):hover::after {
    background-color: #228037;
}


.repldmBtn {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
    border-right: 3px solid transparent;
    padding: 8px;
    margin-bottom: 4px;
}
.repldmBtn.open {
    border-right: 3px solid #3485e4;
    background-color: rgba(52,133,228,0.12);
}
.repldmBtn:hover {
    background-color: #f3f3f3;
}
.repldmBtn.open:hover {
    background-color: rgba(52,133,228,0.12);
}
.repldmBtn[notifications]:not([notifications=""]):not([notifications="0"])::after {
    content: attr(notifications);
    background-color: #ff491c;
    width: 14px;
    height: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding: 3px;
    font-size: 12px;
}

.repldmBtn .fa-paper-plane {
    height: 16px;
    width: auto;
    margin-right: 8px;
}
.repldmBtn .label {
    margin-right: auto;
}
.repldmBtn .label, .repldmBtn .fa-paper-plane {
    color: #363636;
    user-select: none;
}


.darktheme.repldmBtn .label, .darktheme.repldmBtn .fa-paper-plane {
    color: #e1e2e4;
}
.darktheme.repldmBtn:hover {
    background-color: #262b3b;
}
.darktheme.repldmBtn.open {
    border-right: 3px solid transparent;
}

.message-btn {
    width: fit-content;
    margin: auto;
    padding: 3px 9px;
    font-size: 16px;
    background-color: #21953e;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.message-btn:hover {
    background-color: #228037;
}



/* repldm page css */
.cont {
    width: 100%;
    height: calc(100% - 60px);
    position: fixed;
    bottom: 0;
    right: 0;
    padding-left: 240px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: 'IBM Plex Sans',sans-serif;
    z-index: 1000;
}

.dmWrapper {
    width: 85%;
    height: 90%;
    border-radius: 6px;
    border: 1px solid rgb(219,219,219);
    background-color: white;
    display: flex;
    overflow: hidden;
    z-index: 1000;
}

/* left */
.dmWrapper .left {
    border-right: 1px solid rgb(219,219,219);
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    user-select: none;
}

.dmWrapper .left .left-top {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(219,219,219);
    font-weight: 600;
    color: #19191a;
    flex-shrink: 0;
}
.dmWrapper .left .left-top .title {
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-top .settings-btn {
    width: 16px;
    height: 16px;
    color: #19191a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    left: 10px;
}
.left-top .write-msg-btn {
    width: 16px;
    height: 16px;
    color: #19191a;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    right: 10px;
}

.left-msgs {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    padding-top: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 150px;
}

.left-msgs .node {
    padding: 2px 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 90px;
    cursor: pointer;
    flex-shrink: 0;
    border-right: 3px solid transparent;
    position: relative;
}
.left-msgs .node:hover {
    background-color: rgba(200,200,200,0.1);
}

.left-msgs .node .pfp {
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.left-msgs .node .pfp img {
    min-width: 60px;
    width: auto;
    min-height: 60px;
    height: auto;
    max-width: 70px;
    max-height: 70px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.node-radio {
    display: none;
}
.node-radio:checked + .node {
    border-right: 3px solid #3485e4;
}


.left-msgs .mid {
    margin-left: 12px;
    flex-grow: 1;
    display: flex;
}
.left-msgs .name {
    color: #262626;
    font-weight: 600;
    position: absolute;
    transform: translateY(-100%);
    display: flex;
}
.left-msgs .name::before {
    content: '@';
}
.left-msgs .description {
    color: #262626;
    font-weight: 400;
}
.left * {
    user-select: none;
}




/* right */
.dmWrapper .right {
    flex-grow: 1;
    height: 100%;
    position: relative;
    background-color: white;
    z-index: 2;
}

.dmWrapper .right .no-msg {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}





/* settings */
.settings {
    position: absolute;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    background-color: white;
    transition: height 0.125s;
    opacity: 0;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.settings.open {
    width: 100%;
    height: 100%;
    opacity: 1;
    pointer-events: all;
}

.settings-body {
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
}

.settings-body .option {
    display: flex;
    padding: 3px 12px;
    align-items: center;
    white-space: nowrap;
}
.settings-body .option .change-color {
    width: 30px;
    height: 20px;
    margin-left: 8px;
    cursor: pointer;
    flex-shrink: 0;
}
.settings-body .option .change-notifications {
    width: 30px;
    height: 20px;
    margin-left: 8px;
    cursor: pointer;
    flex-shrink: 0;
}
.settings-body .option .change-sound {
    width: 30px;
    height: 20px;
    margin-left: 8px;
    cursor: pointer;
    flex-shrink: 0;
}



/* new msg */
.new-msg-cont {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    font-family: 'IBM Plex Sans',sans-serif;
}
.new-msg {
    position: absolute;
    width: 400px;
    height: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 9px;
    border: 1px solid rgba(200,200,200,0.5);
    display: flex;
    flex-direction: column;
}
.new-msg .top {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgba(200,200,200,0.35);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}
.new-msg .top .close-new-msg {
    position: absolute;
    left: 10px;
    cursor: pointer;
}
.new-msg .top .close-new-msg svg {
    min-width: 11px;
    flex-shrink: 0;
}
.new-msg .to, .new-msg .message {
    flex-shrink: 0;
    display: flex;
    padding: 6px 8px;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
.new-msg .to input, .new-msg .message input {
    border: 0!important;
    box-shadow: 0!important;
    outline: 0 !important;
    flex-grow: 1;
    padding: 6px;
    padding-bottom: 0;
    font-size: 16px;
}
.new-msg .to input, .new-msg .message textarea {
    resize: none;
    flex-grow: 1;
}
.new-msg .to input, .new-msg .message textarea:hover, .new-msg .message textarea:focus, .new-msg .message textarea:active {
    outline: 0;
}
.new-msg .to {
    border-bottom: 1px solid rgba(200,200,200,0.5);
    padding: 12px 8px;
}
.new-msg .to input {
    padding-left: 30px;
}

.new-msg .top .send-new-msg {
    color: rgb(0, 149, 246);
    position: absolute;
    right: 15px;
    font-weight: 600;
    cursor: pointer;
}


/* chat */
.white-bg .no-msg img {
    -webkit-filter: drop-shadow(1px 1px 0 black)
                  drop-shadow(-1px -1px 0 rgb(219,219,219));
    filter: drop-shadow(1px 1px 0 black) 
          drop-shadow(-1px -1px 0 rgb(219,219,219));
}
.white-bg .no-msg * {
    color: #19191a !important;
}

.right .chat {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.right .chat .top {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(219,219,219);
    background-color: white;
    display: flex;
    align-items: center;
    color: #19191a;
    font-weight: 600;
    position: relative;
}
.chat .top span {
    cursor: pointer;
}
.chat .top span::before {
    content: '@';
}
.right .chat .top .chat-img {
    width: 30px;
    height: 30px;
    min-width: 30px;
    min-height: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin-right: 8px;
    margin-left: 30px;
}
.right .chat .wrapper {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
}
.right .chat .wrapper .box {
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    padding-top: 50px;
    font-size: 16px;
    padding-bottom: 30px;
}
.small {
    font-size: 12px !important;
}
.large {
    font-size: 20px !important;
}

.right .chat .wrapper .box .msg-node {
    border-radius: 15px;
    padding: 10px;
    width: fit-content;
    max-width: 280px;
    flex-grow: 0;
    border: 1px solid rgb(219,219,219);
    margin-top: 5px;
    position: relative;
}
.right .chat .wrapper .box .msg-node.sent {
    margin-left: auto;
    margin-right: 8px;
    background-color: #0095f6;
    color: white;
    border-color: #0095f6;
}
.right .chat .wrapper .box .msg-node.received {
    margin-left: 8px;
    background-color: white;
}


/* themes */

.dmWrapper[theme="green"] .msg-node.sent {
    background-color: #44eb7d !important;
    border-color: #44eb7d !important;
}

/* /themes */



.right .chat .wrapper .msg-wrapper {
    padding: 10px;
    width: calc(100% - 20px);
}
.right .chat .wrapper .msg-wrapper .msg {
    border-radius: 15px;
    border: 1px solid rgb(219,219,219);
    width: calc(100% - 20px);
    padding: 6px 10px;
}
.right .chat .wrapper .msg-wrapper .msg:focus {
    outline: 0;
}




/* auth */
.auth-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-cont {
    background-color: white;
    padding: 30px 10px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    max-width: 260px;
    user-select: none;
}

.auth-btn {
    cursor: pointer;
    background-color: #262b3b;
    color: #20ab46;
    border-radius: 4px;
    padding: 5px 6px;
    margin-top: 10px;
    user-select: none;
}
.close-auth {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;
    user-select: none;
}


/* dupl badge */
.badge {
    height: 30px;
    width: fit-content;
    position: relative;
    flex-shrink: 0;
}
.badge img {
    height: 100%;
    width: auto;
    -webkit-filter: drop-shadow(1px 1px 0 black)
                    drop-shadow(0px 0px 0 black);
    filter: drop-shadow(1px 1px 0 black) 
            drop-shadow(0px 0px 0 black);
}

/* loading msgs anim */
.loading-msgs {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.loading-msgs img {
    height: 100%;
    width: auto;
    animation: spin 1s infinite linear;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* message read styles */
.read::before {
    content: 'read';
    position: absolute;
    color: gray;
    bottom: -100%;
    font-size: 14px;
    bottom: -50%;
    text-align: right;
    right: 8px;
}



/* online */
.node.online::after {
    content: '';
    background-color: #0de03e;
    width: 13px;
    height: 13px;
    position: absolute;
    border-radius: 50%;
    bottom: 15px;
    left: 55px;
    border: 3px solid white;
}
.node:hover::after {
    border: 3px solid white;
}



/* new message icons */
.node .icons {
    display: flex;
    position: relative;
    align-items: center;
    margin-right: 16px;
    white-space: nowrap;
    font-size: smaller;
}
.node .icons * {
    color: #3485e4;
    margin-right: 6px;
    width: 15px;
    max-width: 15px;
    min-width: 15px;
}

.mid[status]::after {
    content: attr(status);
    color: black;
    text-transform: capitalize;
    width: fit-content;
    font-size: smaller;
}
.node .fa-paper-plane {
    transform: rotate(55deg) skewY(10deg);
}

.node .icons[date]::after {
    content: attr(date);
    color: black;
    text-transform: capitalize;
    width: fit-content;
}
.node .icons::before {
    content: '';
    background-color: rgba(0,0,0,0.7);
    width: 4px;
    height: 4px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
}

.mid:not([status='received']) .received-icon { /* received */
    display: none;
}
.mid:not([status='opened']) .opened-icon { /* received & opened */
    display: none;
}
.mid:not([status='sent']) .sent-icon { /* sent */
    display: none;
}
.mid:not([status='read']) .read-icon { /* sent and read */
    display: none;
}




/* resizer */
.resizer {
    width: 15px;
    background-color: #f6f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    z-index: 2;
}
.resizer:active {
    cursor: grabbing;
}
.resizer::before {
    content: '';
    width: 4px;
    height: 50px;
    border: 1px solid rgb(209, 208, 208);
    border-radius: 4px;
    background-color: #dad5d5;
    transition: background-color 0.2s;
}
.resizer:hover::before {
    background-color: #d4cdcd;
    border: 1px solid rgb(209, 202, 202);
}



/* change font size option */
.change-size {
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 8px;
    cursor: pointer;
    flex-shrink: 0;
}



/* smaller screen widths */
@media only screen and (max-width: 1000px) {
    .dmWrapper {
        width: 90%;
    }
}
@media only screen and (max-width: 900px) {
    .dmWrapper {
        width: 95%;
    }
}




