.dmBtn {
    margin-left: 5px;
    background-color: #4183c4;
    border: 1px solid transparent;
    color: white;
    padding: 4px;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 2px;
}

.jsx-2106077415:before {
    content: 'message';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #4183c4;
    border: 1px solid transparent;
    color: white;
    padding: 4px;
    transition: color 0.5s;
    cursor: pointer;
    border-radius: 2px;
}