
.user-hover-card .user-info-card-header span.jsx-1369737386:not(.user-info-card-full-name)::after {
    content: 'message';
    margin-left: 5px;
    background-color: #4183c4;
    border: 1px solid transparent;
    color: white;
    padding: 2px;
    transition: color 0.5s;
    cursor: default;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}
.user-hover-card .user-info-card-header span.jsx-1369737386:not(.user-info-card-full-name):hover::after {
    background-color: #3c74ab;
}


.repldmBtn {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF6347;
    border-radius: 6px;
    cursor: pointer;
}

.repldmBtn:hover {
    background-color: #e36049;
}