
.user-hover-card .user-info-card-header span.jsx-1369737386:not(.user-info-card-full-name)::after {
    content: 'message';
    margin-left: 5px;
    background-color: #4183c4;
    border: 1px solid transparent;
    color: white;
    padding: 2px;
    transition: color 0.5s;
    cursor: default;
    border-radius: 5px;
    font-size: 14px;
    transition: all 0.3s;
}
.user-hover-card .user-info-card-header span.jsx-1369737386:not(.user-info-card-full-name):hover::after {
    background-color: #3c74ab;
}


.repldmBtn {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #21953e;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    position: relative;
}

.repldmBtn:hover {
    background-color: #228037;
}

.repldmBtn::after {
    content: '1';
    background-color: #ff491c;
    width: 14px;
    height: 14px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -7px;
    right: -7px;
    padding: 3px;
    font-size: 12px;
    font-family: system-ui;
}

.repldmBtn .fa-paper-plane {
    width: 50% !important;
}